<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文友-同是文友 也是戏友</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4 style="margin-top: 15px;"><span style="font-size: 22px;" class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp 发起</h4>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id"  th:value="${id}" id="">
                <div class="form-group">
                    <label for="title">问题标题 (简单扼要)：</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充 (必填,请参照右侧提示)：</label>
                    <textarea name="description" th:text="${description}"  id="description" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" th:value="${tag}"  id="tag" name="tag" placeholder="以,号分隔，输入标签后回车">
                </div>

                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}"
                                 th:if="${error!=null}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">
                                发布
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h4 class="glyphicon glyphicon-pushpin"> 问题发起指南</h4><br>
            1、问题标题：请用精简的语言描述您发布的问题，不超过25字 <br>
            2、问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料；<br>
            3、选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
            4、使用本站源码不得用于任何商业用途以及任何变现，站长提供给大家只是为了让大家用于学术学习研究，不得使用本站提供的资源非法谋取他人利益，任何用于商业或以此获取利益的都视为非法，后果与本站无关！请务必在符合国家规定范围内使用本站任何程序！<br>
            5、本站资源绝多大数收集于网络或网友分享，本站本身并不生产任何资源，因此并不能保证每一款资源都百分百适合你！<br>
            6、如有发现本站发布的资源侵犯了您的利益，欢迎来信告诉我们，核实后将会删除。
        </div>
    </div>

    <!-- 错误信息提示模态框 -->
    <div class="modal fade" tabindex="-1" id="errorModal">
        <div class="modal-dialog" style="width: 20rem;margin-top: 25rem">
            <div class="modal-content">
                <!-- 模态框主体 -->
                <div class="modal-body" style="color: red;">
                    模态框内容..
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(function () {
        if ([[${errorMsg}]] != null) {
            $(".modal-body").html([[${error}]]);
            $("#errorModal").modal("show");
            setTimeout(function () {
                $("#errorModal").modal("hide");
            }, 2000)
        }
    });
    //标题非空验证

</script>


</body>
</html>